/* CUSTOM CSS */
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

.pStyle {
    font-family: 'Salsa', cursive;
}

#circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
}

/* Start of Feature Container */
/* .feature {
    position: absolute;
    display: flex;
    color: red;
}

.feature div {
    margin-left: 30px;
}

.feature div p {
    margin-top: 8px;
}

.one {
    top: 450px;
    left: 350px;
}

.two {
    top: 150px;
    left: 350px;
    transform: rotate(-90deg);
}

.three {
    bottom: 450px;
    left: 50px;
    transform: rotate(-180deg);
}

.four {
    bottom: 150px;
    right: 350px;
    transform: rotate(-270deg);
} */

/* End of Feature Container */


.information {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #c2e59c, #64b3f4);
}

/* .category {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 1;
} */

/* Start of Controls Style  */
.controls {
    position: absolute;
    right: 55%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #upBtn,
  #downBtn {
    cursor: pointer;
    font-size: 30px;
    margin: 20px 0;
  }
  
/* End of Controls Style */

.overlay {
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}